p,h5,h3{
    color:white;
}
.head, .card-2{
    background: url('../../../assets/github.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.follow{
    margin-top: 10px;
    margin-right: 10px;
}
.card-2{
    float: right;
    width: 400px;
    height: 300px;
    margin-right: 150px;
    background-color: lightblue;
    margin-bottom: 20px;
}