p,h5,h3{
    color:white;
}
div{
    background: url('../../../assets/github.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.follow{
    margin-top: 10px;
    margin-right: 10px;
}