<div class="container mt-5">
  <form class='search'>
    <label for="userName">Search Username </label>
    <input type="text" [(ngModel)]='userName' id="userName"
    name='userName'(keyup)='findProfile()' class="form-control" placeholder='Search or jump to ...'>
  </form>
  

  <div class="card text-center">
    <div class="card-header">
      <h3>{{profile.login}}</h3>
    </div>
    <div class="card-body">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img [src]='profile.avatar_url' class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Username:{{profile.login}}</li>
              <li class="list-group-item">Name:{{profile.name}}</li>
              <li class="list-group-item">Bio:{{profile.bio}}</li>
              <li class="list-group-item">Repositories:{{profile.public_repos}}</li>
              
            </ul>
            <span class="badge badge-primary">followers {{profile.followers}}</span>
            <span class="badge badge-secondary">following {{profile.following}}</span>
            <a href="{{profile.html_url}}" class="btn btn-primary">  Go to Github</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>  