<div class = "container">
    <form (ngSubmit) = 'getPublicRepositories()' >
        <div class="mt-5">
          <input type="text" class="form-control" placeholder="enter your github username" id="nameInput" name="nameInput" [(ngModel)]="nameInput" >
        </div>
        <div class="spinner-border text-primary" role="status" [hidden] = 'isLoading'>
          <span class="sr-only"></span>
        </div>
        <button  type="submit" class="btn btn-success" >Show Repos</button>
    </form>
    <h5>Welcome {{nameInput}} You have {{repoNumber}} repositories.</h5>
    <ul *ngFor = 'let repo of users'>
        <li> {{repo.name}} 
          <ul>
            <li> {{repo.description}} </li>
          </ul>
        </li>   
          
      </ul>
</div>
